<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <div class="title-holder">
    <h2>Forgot password</h2>
  </div>
  <div text-leeft class="description">
    <p text-wrap>
      Please enter your email address. You will receive
      a link to create a new password via email.
    </p>
  </div>
  <div class="the-form">
    <ion-item>
      <ion-input type="email" placeholder="Recovery Email"></ion-input>
    </ion-item>
  </div>


  <div class="btns-holder">
    <ion-button expand="block">
      Send
    </ion-button>
  </div>
</ion-content>