ion-header
{
    ion-toolbar{
        --background:transparent;
    }
}

ion-back-button{
    --color: white !important;
}

ion-content
{
    --background: url('../../assets/imgs/background.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .description
    {
        p{
            color: white !important;
        }
    }

    .btns-holder{
        ion-button{
            --color:white;
            box-shadow:0px 12px 30px rgba(214, 176, 72, 0.25) !important;
            font-weight: bold !important;
            height: 42px !important; 
            text-transform: none !important;
        }
    }
}