<ion-header no-border>
    <ion-toolbar transparent>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding fullscreen>
    <div class="title-holder">
      <h2>Sign up</h2>
    </div>
    <div class="the-form">
      <ion-item>
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" placeholder="Mobile Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>
    </div>
  
  
    <div class="btns-holder">
      <ion-button expand="block">
        Sign Up
      </ion-button>
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar text-center>
      <h5>Already have an account? <span (click)="goBackLogin()">Log in</span></h5>
    </ion-toolbar>
  </ion-footer>